/*
tea green #D0FCB3
powder blue #9AD1D4
bdazzled blue #415A77
shadow blue #778DA9
opera mauve #AD7A99
*/

.tangerineText{
    color:#F4998D;
}

.tangerineBG{
    background-color:#F4998D;
}

.cherryBlossomText{
    color:#FFB7C3;
}

.cherryBlossomBG{
    background-color:#FFB7C3;
}

.honeydewText{
    color:#CDE5D7;
}

.honeydewBG{
    background-color:#CDE5D7;
}
