
.operaMauveText{
    color:#AD7A99;
}

.operaMauveBG{
    background-color:#AD7A99;
}

.shadowBlueText{
    color:#778DA9;
}

.shadowBlueBG{
    background-color:#778DA9;
}

.bdazzledBlueText{
    color: #415A77;
}

.bdazzledBlueBG{
    background-color: #415A77;
}

.powderBlueText{
    color:#9AD1D4;
}

.powderBlueBG{
    background-color:#9AD1D4;
}

.teaGreenText{
    color:#D0FCB3;
}

.teaGreenBG{
    background-color:#D0FCB3;
}

.tangerineText{
    color:#F4998D;
}

.tangerineBG{
    background-color:#F4998D;
}

.cherryBlossomText{
    color:#FFB7C3;
}

.cherryBlossomBG{
    background-color:#FFB7C3;
}

.honeydewText{
    color:#CDE5D7;
}

.honeydewBG{
    background-color:#CDE5D7;
}

.opacity{
    opacity: 70%;
}

.z10{
    z-index: 10;
}
.z15{
    z-index: 15;
}
.z20{
    z-index: 20;
}
