
*{
    margin:0px;
    box-sizing:border-box;
}

.operaMauveText{
    color:#AD7A99;
}

.operaMauveBG{
    background-color:#AD7A99;
}

.shadowBlueText{
    color:#778DA9;
}

.shadowBlueBG{
    background-color:#778DA9;
}

.bdazzledBlueText{
    color: #415A77;
}

.bdazzledBlueBG{
    background-color: #415A77;
}

.powderBlueText{
    color:#9AD1D4;
}

.powderBlueBG{
    background-color:#9AD1D4;
}

.teaGreenText{
    color:#D0FCB3;
}

.teaGreenBG{
    background-color:#D0FCB3;
}

.tangerineText{
    color:#F4998D;
}

.tangerineBG{
    background-color:#F4998D;
}

.cherryBlossomText{
    color:#FFB7C3;
}

.borderRadius{
    border-radius: 5%;
}
.borderRadius2{
    border-radius: 10%;
}

.cherryBlossomBG{
    background-color:#FFB7C3;
}

.honeydewText{
    color:#CDE5D7;
}

.honeydewBG{
    background-color:#CDE5D7;
}

.opacity{
    opacity: 70%;
}

.height15{
    height: 15vh;
}
.height10{
    height: 10vh;
}
.height8{
    height: 8vh;
}

.h75{
    height:75vh;
}

.z10{
    z-index: 10;
}
.z15{
    z-index: 15;
}
.z20{
    z-index: 20;
}

.header{
    height: 600px;
    width: 100%;
    overflow: hidden;
    font-family: 'Indie Flower', cursive;
}

.indieFlower{
    font-family: 'Indie Flower', cursive;
}

.top{
    top:0px;
}

.width100{
    width: 100px;
}

.navItemSize{
    font-size: 25px;
}

li{
    display:inline-block;
    margin-left:50px;
}

.mLeft1{
    margin-left: 20px;
}

.mLeft2{
    margin-left: 25px;
}

.main{
    overflow:hidden;
}

.location{
    height: 40vh;
    width: 25vw;
}

.karla{
    font-family: 'Karla', sans-serif;
    font-size: 25px;
}

.blackborder{
    border: solid 2px black;
}

.tAlign{
    text-align: center;
}

.menuli{
    display:block;
}

.bgimage{
    display:block;
    width:100%;
    height:100%;
}

.z0{
    z-index: 0;
}

.wParent{
    width:100%;
    height:100%;
}

.N5ML{
    margin-left: -15px;
}

.P5MR{
    margin-right: 15px;
}

.btn-primary{
    background-color: #415A77;
}

.btn-primary:hover{
    background-color:#AD7A99;
}